@page "/login"
@page "/"

<EditForm Model="@user" OnValidSubmit="@ValidateUser">
    <div class="row shadow p-3 bg-white rounded">
        <div class="col-12 d-flex flex-column">
            <img src="images/logo-ucnc.png" alt="Logo 'U.C.N.C.'" class="logo-ucnc align-self-center" />
            <h3 class="titulo-login align-self-center">Autenticación biométrica en línea</h3>
            @if (IdentificadorOTP == null)
            {
                <div class="input-container">
                    <label>Correo</label>
                    <input type="email" @bind="user.Usuario" placeholder="" />
                </div>
                <div class="input-container">
                    <label>Contraseña</label>
                    <input type="password" class="form-control bg-color-input" @bind="user.Contrasena" placeholder="" />
                </div>
                @if (LoginMessage != null)
                {
                    <div class="mensaje-container mensaje-error">
                        <p>@LoginMessage</p>
                    </div>
                }

                <div class="align-self-center mt-2">
                    <button type="submit" class="btn-primario" disabled="@showSpinner">
                        @if (showSpinner)
                        {
                            <i class="fa fa-sync fa-spin"></i>
                        }
                        Iniciar Sesión
                    </button>
                </div>
                <a class="mt-1 link-primario align-self-center" href="/forget">Olvidé mi contraseña</a>

            }
            else
            {
                <div class="input-container mt-4">
                    <input type="text" class="text-center" @bind="OTP" placeholder="OTP" />
                </div>
                @if (LoginMessage != null)
                {
                    <div class="mensaje-container mensaje-error">
                        <p>@LoginMessage</p>
                    </div>
                }

                <div class="align-self-center mt-2">
                    <button type="submit" class="btn-primario">Ingresar</button>
                </div>
            }
            <p class="small-text align-self-center">v-@VersionStr</p>
            <div class="align-self-center mt-2">
                <span>Desarrollado por</span><img class="logo-olimpia ml-1" src="./images/logo-olimpia-color.svg">
            </div>
        </div>
    </div>
</EditForm>